{% extends 'base.html' %}

{% block title %} Customer Create {% endblock %}

{% block header %} Please Complete Registration {% endblock %}

{% block content %}

<form action="{% url 'customers:create' %}" method="post">
    {% csrf_token %}
    Name: <input type="text" name="name" id="name"><br />
    Address: <input type="text" name="address" id="address"><br />
    Zip Code: <input type="text" name="zip_code" id="zip_code"><br />
    Choose your Weekly Pickup Day: <input type="text" name="weekly_pickup" id="weekly_pickup"><br />
    <select name="list_drop" id="list_drop" required>
        <select option="Monday">Monday</select>
        <select option="Tuesday">Tuesday</select>
        <select option="Wednesday">Wednesday</select>
        <select option="Thursday">Thursday</select>
        <select option="Friday">Friday</select>
        <select option="Saturday">Saturday</select>
        <select option="Sunday">Sunday</select>
    </select>
    <br>
    
    
    <input type="submit" value="Register">
</form>

{% endblock %}